body{
   margin:0;
   background:#f3f7f4;
   font-family:Arial, sans-serif;
}

main{
   padding-top:20px;
}

header{
   background:white;
   display:flex;
   justify-content:space-between;
   align-items:center;
   padding:25px 60px;
   box-shadow:0 2px 10px rgba(0,0,0,0.08);
   position:sticky;
   top:0;
}

.logo{
   color:#2f7d67;
   font-size:34px;
   font-weight:bold;
   letter-spacing:2px;
}

.nav-container{
   background:white;
   border:2px solid #d6d6d6;
   border-radius:40px;
   padding:10px 20px;
}

nav{
   display:flex;
   align-items:center;
   gap:10px;
}

nav a{
   text-decoration:none;
   color:#2f7d67;
   font-weight:bold;
   padding:12px 22px;
   border-radius:30px;
   transition:0.3s;
}

nav a:hover{
   background:#e7f3ec;
}

.active{
   background:#2f7d67;
   color:white;
}

.main-container{
   display:flex;
   justify-content:center;
   gap:30px;
   margin-top:40px;
   flex-wrap:wrap;
}
.plant-card{
   background:#dcefe4;
   border-radius:30px;
   max-width:90%;
   padding:30px;
   width:650px;
   box-shadow:0 4px 15px rgba(0,0,0,0.06);
}
.plant-top{
   display:flex;
   gap:20px;
   align-items:flex-start;
}
.plant-top img{
   width:230px;
   height:230px;
   border-radius:25px;
   object-fit:cover;
}

.plant-info h2{
   color:#2f7d67;
   margin-top:5px;
}
.health-box{
   margin-top: 5px;
   border:2px solid #7ea795;
   border-radius:25px;
   padding:10px 20px;
   display:inline-block;
   background:white;
   color:#2f7d67;
   font-weight:bold;
}
.description-box{
   background:#bfe3cf;
   margin-top:25px;
   padding:20px;
   border-radius:25px;
   text-align:center;
   line-height:1.7;
   color:#2f7d67;
}
.right-side{
   display:flex;
   flex-direction:column;
   gap:25px;
}
.streak-box{
   background:#ffd6bf;
   border-radius:30px;
   width:250px;
   padding:20px;
   text-align:center;
}
.streak-box h3{
  color:#2f7d67;
  }
.watering-box{
   background:#d8eeff;
   border-radius:35px;
   width:260px;
   padding:30px;
   text-align:center;
}

.title{
   text-align:center;
   color:#2f7d67;
   font-size:65px;
   margin-top:45px;
   margin-bottom:30px;
   font-weight:500;
   letter-spacing:2px;
}

.plant-image{
   width:100%;
   height:100%;
   background:white;
   border-radius:25px;
   overflow:hidden;
   margin:auto auto;
   padding:12px 22px;
}

footer{
   background:#2d7d68;
   color:white;
   text-align:center;
   padding:20px;
   margin-top:50px;
}

.discover-container{
   display:flex;
   justify-content:center;
   gap:30px;
   margin-top:50px;
   flex-wrap:wrap;
}
.discover-card{
   background:#dcefe4;
   width:250px;
   padding:30px;
   border-radius:30px;
   text-align:center;
   box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.last seen-container {
   display: flex;
   justify-content:center;
   gap: 50px;
   margin-top: 50px;
   flex-wrap: wrap;
}
.plant-card-small{
   background:#dcefe4;
   width:180px;
   padding:50px;
   border-radius:30px;
   text-align: center;
   justify-content:center;
   box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.help-container{
   display:flex;
   justify-content:center;
   margin-top:50px;
}
.help-card{
   background:#dcefe4;
   width:600px;
   padding:40px;
   border-radius:30px;
   text-align:center;
   box-shadow:0 2px 10px rgba(0,0,0,0.1);
}


